<div>
	<h1>Détails Client</h1>
	<label>{{clientTestInterne.id}}</label>
	<br>
	<label>{{clientTestInterne.firstName}}</label>
	<br>
	<label>{{clientTestInterne.lastName}}</label>
	<br>
	<label>{{clientTestInterne.email}}</label>
	<br>
	<label>{{clientTestInterne.mobile}}</label>
	<br>
	<h3>Liste des comptes</h3>
	<table border="1">
		<tr>
			<th>RIB</th>
			<th>Description</th>
			<th>Date de création</th>
			<th>Solde</th>
		</tr>
		<tr *ngFor="let comptes of clientTestInterne.comptes">
			<td>{{comptes.rib}}</td>
			<td>{{comptes.description}}</td>
			<td>{{comptes.dateCreation}}</td>
			<td>{{comptes.solde}}</td>
		</tr>
	</table>
</div>
