.icon {
    width: 80px;
    height: 80px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #ECE8BE; /* Modifie couleur de fond sans survol, origine #f1f1f1 */
    border: 1px solid #555;
}

li a {
    display: block;
    color: #000;
    padding: 50px 10px;/* 8 - 16 */
    text-decoration: none;
    font-size: small;
    font-family: "Georgia";
    font-weight: bold;

    
}

li {
    text-align: center;
    border-bottom: 1px solid #555
}

li:last-child {
    border-bottom: none;
}

li a.active {
    background-color: #4CAF50; /* Modifie l'onglet de nav quand actif (couleur == verte #4CAF50) */
    color: white;
}

li a:hover:not(.active) { /*Modifie couleur fond onglet au survol, origine #555 gris foncé */
    background-color: #555; 
    color: white;
}
