<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" data-toggle="tab" href="#home">Component 1</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#menu1">Component 2</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#menu2">Component 3</a>
  </li>
</ul>

<div class="tab-content">
  <div class="tab-pane active container" id="home">Insérez-ici code html du component 1</div>
  <div class="tab-pane container" id="menu1">Insérez-ici code html du component 2</div>
  <div class="tab-pane container" id="menu2">Insérez-ici code html du component 3</div>
</div>