<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <button class="navbar-toggler mr-2" type="button" data-toggle="collapse" data-target="#navbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <span class="navbar-brand d-flex flex-fill"><a class="nav-link" id="posBoutonGestiBank">Gestibank</a></span>
    <div class="navbar-collapse collapse" id="navbar">
        <ul class="navbar-nav justify-content-center d-flex flex-fill">

            <i class="material-icons" href="#" style="font-size:40px; color:white;">home</i>
            <li class="nav-item">
                    <a class="nav-link" href="/public">Accueil</a>
            </li>

            <i class="material-icons" style="font-size:40px; color:white;">mail_outline</i>
            <li class="nav-item">
              <a class="nav-link" href="client/contact">Contact</a>
            </li>

            <i class="material-icons" style="font-size:40px; color:white;">account_box</i>
            <li class="nav-item">
              <a class="nav-link" href="client/infoperso">Informations personnelles</a>
            </li>

            <i class="material-icons" style="font-size:40px; color:white;">power_settings_new</i>
            <li class="nav-item">
              <a class="nav-link" href="/public/deconnexion" (click)="sessionService.destroySession()">Déconnexion</a>
            </li>
        </ul>
    </div>
    <div class="d-flex flex-fill"><!--spacer--> </div>
</nav>
