
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <ul class="navbar-nav">

    <li class="nav-item active">
      <a class="nav-link" id="posBoutonGestiBank" href="/">Gestibank</a>
    </li>

    <i class="material-icons" href="#" style="font-size:40px;color:white">home</i>
    <li class="nav-item">
            <a class="nav-link" href="/public">Accueil</a>
    </li>

    <i class="material-icons" style="font-size:40px;color:white">mail_outline</i>
    <li class="nav-item">
      <a class="nav-link" href="client/contact">Contact</a>
    </li>

    <i class="material-icons" style="font-size:40px;color:white">language</i>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" id="navbardrop" data-toggle="dropdown">
        Français
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item">Français</a>
        <a class="dropdown-item">Anglais</a>
      </div>
    </li>
    
    
    <!-- <div>Bonjour {{nomUtilisateur}}</div> -->

    <i class="material-icons" style="font-size:40px;color:white;margin-left: 25%;">power_settings_new</i>
    <li class="nav-item">
      <a class="nav-link" href="/public/deconnexion" (click)="sessionService.destroySession()">Déconnexion</a>
    </li>
  </ul>
</nav>