#margesNav{
	margin-top: 30px;
}

#v-pills-tab{
	font-style: ComicsansMS;
}

h2{
	text-align: center;
	margin-top: 30px;
}

a{
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
	text-decoration: none;
	color : black;
}

a:hover {
	color: white;
	font-style: italic;
}


.nav-link.active {
	background-color: #343a40;
	font-weight: bold;
}

